<tr>
    <th>
        <%= login.login_id %>
    </th>
    <td>
        <%= login.customer_id %>
    </td>
    <td>
        <%= login.country_code %>
    </td>
    <td>
        <%= login.provider_name %>
    </td>
    <td>
        <%= login.status %>
    </td>
    <td>
        <%= link_to login.accounts.size, login %>
    </td>
    <td>
        <%= link_to "Reconnect", reconnect_path(login_id: login.login_id), method: :put, class: "btn btn-outline-success btn-sm"%>
    </td>
    <td>
        <%= link_to "Refresh", refresh_path(login_id: login.login_id), method: :put, class: "btn btn-outline-primary btn-sm" %>
    </td>
    <td>
        <%= link_to "Destroy", destroy_connection_path(login_id: login.login_id), method: :delete, class: "btn btn-outline-danger btn-sm" %>
    </td>
</tr>