<tr>
    <td>
        <%= transaction.transaction_id %>
    </td>
    <td>
        <%= transaction.made_on %>
    </td>
    <td>
        <%= transaction.status %>
    </td>
    <td>
        <%= transaction.category %>
    </td>
    <td>
        <%= transaction.description %>
    </td>
    <td>
        <%= transaction.amount %>
    </td>
    <td>
        <%= transaction.currency %>
    </td>
</tr>