<tr>
    <th>
        <%= account.account_id %>
    </th>
    <td>
        <%= account.name %>
    </td>
    <td>
        <%= account.balance %>
    </td>
    <td>
        <%= account.currency %>
    </td>
    <td>
        <%= account.nature %>
    </td>
    <td>
        <%= link_to account.transactions_count, account %>
    </td>
</tr>